<div class="container-card">
  <div class="card-header">
    <div class="p">
      <button class="back-button" (click)="irParaCliente()"><</button>
    </div>
  </div>
  <div class="title">
    <span class="tamanho">{{ Title }}</span>
  </div>
</div>

<div class="container">
  <div class="section" *ngFor="let item of items">
    <hr />
    <h2>{{ item.category }}</h2>
    <hr />
    <div class="item">
      <h3>{{ item.name }}</h3>
      <p class="description">{{ item.description }}</p>
      <p class="serve" *ngIf="item.serves">Serve: {{ item.serves }}</p>
      <p class="price">
        R$ {{ item.price | decimalFormatter }}
        <span class="original-price">R$ {{ item.originalPrice | decimalFormatter }}</span>
      </p>
    </div>
  </div>
  <div class="footer">
    <div class="contador">
      <button (click)="decreaseQuantity()">-</button>
      <span>{{ quantity }}</span>
      <button (click)="increaseQuantity()">+</button>
    </div>

    <div class="add">
      <button class="add-button" (click)="addToCart()">
        Adicionar
        <span class="total-price">R$ {{ totalPrice | decimalFormatter }}</span>
      </button>
    </div>
  </div>
</div>
