<main>
    <div class="header">
        <button (click)="goBack()"></button>
        <h3>entrega</h3>
    </div>

    <div class="total-info-pedido">

        <div class="info-entrega">
            <h5>Dados da entrega </h5>

            <p>Cliente: {{order.nomeClient}}</p>
            <p>Telefone: {{order.phone | phonePipe}}</p>
            <p>CEP: {{order.cep | cep }}, n° {{number}}</p>
            <div *ngFor="let pedido of order.itens">
                <p>Pedido: <span> {{pedido.quantity}}x {{pedido.name}}</span></p>
            </div>
            <p>Número do pedido: <span> {{order.id}} </span></p>
        </div>
        <div class="info-pagamento">
            <h5>Dados do pagamento </h5>

            <span class="pix">
                <img src="../../../../assets/images/icons8-foto.svg" alt="">
                Pix
            </span>
            <p>Resumo de valores: <span>{{order.valor | currency : "R$"}}</span></p>
            <p>Taxa de entrega: <span> R$ 7,00</span></p>
            <p style="font-weight: 800; margin-top: 17px;font-size: 20px;">Total<span> {{order.valor + 7 | currency : "R$"}}</span></p>
        </div>
    </div>

    <button class="btn-finalizar" (click)="onDivClick()">finalizar</button>



    <div *ngIf="showConfirm" class="confirm-box">
        <p>PAGAMENTO REALIZADO?</p>
        <div>

            <button (click)="onConfirPayment()">Sim</button>
            <button (click)="onCancelPayment()">Não</button>
        </div>

    </div>
    <div *ngIf="showMessage" class="payment-message">
        <p>PEDIDO ENTREGUE COM SUCESSO</p>

    </div>
</main>
