<form [formGroup]="profileForm"
(ngSubmit)="handleSubmit()">
  <label
    >Nome:
    <input type="text" formControlName="name" />
  </label>
  <label
    >Telefone:
    <input type="text" formControlName="phone" />
  </label>
  <label
    >Cep:
    <input type="text" formControlName="zipcode" />
  </label>
  <label
    >Número:
    <input type="number" formControlName="number" />
  </label>
  <button type="submit" >Submit</button>
</form>

<div class="valor-formulario">
  <h2>Profile Form</h2>
  <p>Name: {{ profileForm.value.name }}</p>
  <p>Email: {{ profileForm.value.phone }}</p>
  <p>Name: {{ profileForm.value.zipcode }}</p>
  <p>Email: {{ profileForm.value.number }}</p>
</div>
