<main>
    <div class="header">
        <button (click)="goBack()"></button>
        <h3>pedidos</h3>
    </div>

    <div class="info-pedido" (click)="goEntrega(order)" *ngFor="let order of orders">
        <p>{{ order.itens[0].quantity }}x {{ order.itens[0].dish.name }}</p>
        <div>
            <p class="price">{{ order.valor | currency : "R$" }}</p>
            <p class="pnumber">
                n° do pedido <br> {{ order.id }}
            </p>
        </div>
    </div>
    <!-- <div class="info-pedido" (click)="goEntrega()">
        <p>1x Pizza de Calabresa com Cebola Caramelizada </p>
        <div>
            <p class="price">R$ 69,90</p>
            <p class="pnumber">
                n° do pedido <br> 12345
            </p>
        </div>
    </div>
    <div class="info-pedido" (click)="goEntrega()">
        <p>1x Pizza de Calabresa com Cebola Caramelizada </p>
        <div>
            <p class="price">R$ 69,90</p>
            <p class="pnumber">
                n° do pedido <br> 12345
            </p>
        </div>
    </div>
    <div class="info-pedido" (click)="goEntrega()">
        <p>1x Pizza de Calabresa com Cebola Caramelizada </p>
        <div>
            <p class="price">R$ 69,90</p>
            <p class="pnumber">
                n° do pedido <br> 12345
            </p>
        </div>
    </div> -->
</main>