main {
    .header {
        background-color: #F7F7F7;
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin-bottom: 70px;

        button {
            width: 30px;
            height: 30px;
            background-image: url("../../../../assets/images/icon-back.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: transparent;
            border-radius: 300px;
            margin-left: 20px;
            cursor: pointer;
        }

        h3{
            text-transform: uppercase;
            color: #5F4E4E;
            font-size: 30px;
            width: 100%;
            text-align: center;
            font-weight: 500;
        }
    }

    .info-pedido{
        border-top: solid 1px #0000006f;
        border-bottom: solid 1px #0000006f;
        padding: 15px 0 25px 20px;
        cursor: pointer;

        p{
            color: #3E3E3E;
            font-size: 20px;
        }

        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px ;

            .price{
                color: #50A773;
                font-size: 20px;
            }

            .pnumber{
                border: solid 1px black;
                text-transform: uppercase;
                text-align: center;
                padding: 7px 20px;
                border-radius: 5px;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .info-pedido:hover{
        background-color: #F7F7F7;
    }
}

#notOrders {
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5411764706);
}