<main>
    <div class="header">
        <button (click)="goBack()"></button>
        <h3>pedidos</h3>
    </div>

    <div class="info-pedido" (click)="goEntrega(order)" *ngFor="let order of orders">
        <div *ngFor="let item of order.itens">
            <p>{{item.quantity }}x {{ item.name }}</p>
          </div>
        <div>
            <p class="price">{{ order.valor | currency:'BRL'}}</p>
            <p class="pnumber">
                n° do pedido <br> {{ order.id }}
            </p>
        </div>
    </div>
    <div id="notOrders" *ngIf="orders.length === 0">
        <h2>Não há pedidos para serem entregues.</h2>
      </div>
</main>