<main>
  <div class="header">
    <button (click)="goBack()"></button>
  </div>
  <h1>Pedidos Recentes</h1>
  <div class="box-total-pedido" (click)="onDivClick(order.id)" *ngFor="let order of orders">
    <div class="header-color"></div>
    <div class="infos-pedido">
      <h5>N° - {{ order.id }}</h5>
      <div *ngFor="let item of order.itens">
        <p>{{item.quantity }}x {{ item.name }}</p>
      </div>

      <div class="infos">
        <input type="text" placeholder="OBS:" />
        <p>{{ formatTimeElapsed(order.timestamp) }}</p>
      </div>
      <!-- <p>obs</p> -->
    </div>
  </div>

  <div *ngIf="orders.length === 0">
    <h1>Não há pedidos cadastrados no sistema.</h1>
  </div>

  <div *ngIf="showConfirm" class="confirm-box">
    <p>DESEJA CONFIRMAR O PEDIDO?</p>
    <div>

      <button (click)="onConfirmDelete()">Sim</button>
      <button (click)="onCancelDelete()">Não</button>
    </div>

  </div>

</main>