<main>
  <div class="header">
    <button (click)="goBack()"></button>
  </div>
  <h1>Pedidos Recentes</h1>
  <div class="box-total-pedido" (click)="onDivClick(order.id)" *ngFor="let order of orders">
    <div class="header-color"></div>
    <div class="infos-pedido">
      <h5>N° - {{ order.id }}</h5>
      <p>{{ order.itens[0].quantity }}x {{ order.itens[0].dish.name }}</p>

      <div class="infos">
        <input type="text" placeholder="OBS:" />
        <p>{{ formatTimeElapsed(order.timestamp) }}</p>
      </div>
      <!-- <p>obs</p> -->
    </div>
  </div>

  <div *ngIf="showConfirm" class="confirm-box">
    <p>DESEJA CONFIRMAR O PEDIDO?</p>
    <div>

      <button (click)="onConfirmDelete()">Sim</button>
      <button (click)="onCancelDelete()">Não</button>
    </div>

  </div>

</main>