<app-header [Title]="headerTitulo"></app-header>

<div class="container">
  <div class="section" >
    <h2>{{ items.name }}</h2>
    <div class="caixa-description">
      <p class="description">{{ items.description }}</p>
    </div>
    <!-- usar ng if para colocar o serve  -->
    <p class="serves" *ngIf="condicional01" >{{ serve[0]}}</p>
    <p class="serves" *ngIf="condicional02" >{{ serve[1]}}</p>

    <p class="price">
      R$ {{ items.price | decimalFormatter }}
      <span class="original-price">R$ {{ items.originalPrice | decimalFormatter}}</span>
    </p>
    <p class="restaurant">
      <img src="../../../assets/images/restaurant.png" alt="">
      {{ items.restaurant }}
    </p>
    <p class="delivery-time">0-40 min</p>

    <div class="caixa-contem">
      <div class="caixa-edit">
        <button class="edit-button">DESEJA EDITAR?</button>
      </div>
    </div>

    <div class="observacoes">
      <!-- Associa o valor da textarea à variável observacoes -->
      <textarea
        id="observacoes"
        rows="4"
        placeholder="Observações:"
        [(ngModel)]="observacoes"
      ></textarea>
    </div>
  </div>
  <!-- Chama o método confirmarPedido ao clicar no botão CONFIRMAR -->
  <button class="confirm-button" (click)="confirmarPedido(items[0])">
    CONFIRMAR
  </button>

  <!-- codigo condicional -->
  <div *ngIf="showConfirm" class="confirm-box">
    <p>DESEJA CONFIRMAR O PEDIDO?</p>
    <div>
      <button (click)="onConfirmEdit()">Sim</button>
      <button (click)="onCancelEdit()">Não</button>
    </div>
  </div>
</div>
